[submodule "packages/darcher-go-ethereum"]
	path = packages/darcher-go-ethereum
	url = https://github.com/Troublor/darcher-go-ethereum.git
[submodule "packages/darcher-crawljax"]
	path = packages/darcher-crawljax
	url = https://github.com/KristenLawrence/darcher-crawljax.git
[submodule "packages/darcher-metamask"]
	path = packages/darcher-metamask
	url = https://github.com/Troublor/darcher-metamask.git