[submodule "packages/darcher-go-ethereum"]
	path = packages/darcher-go-ethereum
	url = git@github.com:Troublor/darcher-go-ethereum.git
[submodule "packages/darcher-examples/giveth/feathers-giveth"]
	path = packages/darcher-examples/giveth/feathers-giveth
	url = https://github.com/Troublor/feathers-giveth.git
[submodule "packages/darcher-examples/giveth/giveth-dapp"]
	path = packages/darcher-examples/giveth/giveth-dapp
	url = https://github.com/Troublor/giveth-dapp.git
[submodule "packages/darcher-examples/augurproject/augur"]
	path = packages/darcher-examples/augurproject/augur
	url = https://github.com/Troublor/augur.git
[submodule "packages/darcher-crawljax"]
	path = packages/darcher-crawljax
	url = git@github.com:KristenLawrence/darcher-crawljax.git
[submodule "packages/darcher-paper"]
	path = packages/darcher-paper
	url = git@github.com:Troublor/darcher-paper.git
[submodule "packages/darcher-examples/DemocracyEarch/sovereign"]
	path = packages/darcher-examples/DemocracyEarch/sovereign
	url = https://github.com/Troublor/sovereign.git
[submodule "packages/darcher-examples/DemocracyEarch/DemocracyDAO"]
	path = packages/darcher-examples/DemocracyEarch/DemocracyDAO
	url = https://github.com/Troublor/DemocracyDAO.git
[submodule "packages/darcher-examples/DemocracyEarch/tokens"]
	path = packages/darcher-examples/DemocracyEarch/tokens
	url = https://github.com/Troublor/tokens.git